body {
  margin: 0;
  margin-left: -30px;
}

.mainsection{
  font-family: 'Poppins', sans-serif;
  margin: 4px;
}

.maincontainer{
  display: grid;
}

.first-section {
  background-image: url('./images/header-shapes-mobile.jpg');
  height: 95vh;
  width: 55vh;
  background-position: 0 49px;
  background-repeat: no-repeat;
  margin: 0;
  background-size: 99%;
}

.second-section{
  margin-left: 35px;
  margin-top: 57px;
}

.first-container {
  height: 100%;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 11px;
  margin-top: -25px;
}

.my-logo {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  margin: 16px;
  margin-top: 29px;
}

.hamburger {
  margin: 17px 20px;
}

.hamburger:hover {
  color: rgb(239, 14, 14);
  cursor: pointer;
}

.first-para {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-top: 83px;
  color: #172b4d;
}

.second-para {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.third-para {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.ul-list {
  list-style-type: none;
}

.logo-icons {
  padding: 2px 9px;
  margin-left: 10px;
}

.social_links {
  margin-left: -15px;
}

li {
  list-style: none;
  display: inline-block;
  margin-left: -3px;
}

h2 {
  color: #172b4d;
}

html {
  margin: 0;
  margin-top:-32px
}

.font {
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: #172b4d;
  margin-top: 5px;
  margin-bottom: 2px;
}

.first-section {
  height: 552px;
  width: 327px;
  left: 24px;
  top: 114px;
  border-radius: 16px;
  padding: 0;
  margin-top: 43px;
  margin-left: 31px;
}

strong {
  color: #7a869a;
}

p {
  margin-top: auto;
  font-style: normal;
  font-size: 20px;
  line-height: 25px;
  color: #344563;
  font-weight: 100;
}

.htmlbackground {
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  left: 0;
  top: 0;
  display: inline-flex;
  text-align: center;
  margin: 10px 10px;
}

.lang1 {
  margin-left: -11px;
}

.seeProject {
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 16px;
}

.item3 {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
}

.Secondbutton > button {
  border: 1px solid #396df2;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  border-radius: 16px;
  padding: 15px 8px;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 21px;
  color: #396df2;
}

.third-para {
  color: #7f8cff;
}

.fourthpara {
  margin: 12px 1px;
  padding: -10px;
  padding-right: 18px;
}

.logo-icons {
  padding: 2px 10px;
}

.nostyle {
  list-style-type: none;
  font-weight: bold;
  color: #172b4d;
}

.bolslist {
  font-weight: bold;
}

.languages li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #f7f7f9;
  margin: 15px;
}

.languages_logo {
  display: flex;
  justify-content: space-between;
  width: 77%;
  font-size: 0.5rem;
  margin-bottom: 15px;
  margin-left: 0;
}

.languages_frameworks {
  display: flex;
  justify-content: space-between;
  width: 83%;
  font-weight: 500;
  font-size: 0.5rem;
  line-height: 7px;
  padding-bottom: -1rem;
  margin-left: 0;
}

.languages_skills {
  display: flex;
  justify-content: space-between;
  width: 83%;
  font-weight: 500;
  font-size: 0.5rem;
  line-height: 5px;
  padding-top: -1rem;
  margin-left: 0;
  margin-bottom: 27px;
}

ul {
  padding: 1px;
  margin-top: 10px;
}

h4 {
  font-size: 252%;
  color: #000;
}

.image_float {
  height: 10px;
  margin-left: 172px;
  margin-top: 34px;
}

.image_float2 {
  height: 33px;
  margin-left: 146px;
}

.image_float3 {
  height: 33px;
  margin-left: 213px;
}

span {
  font-weight: bold;
  color: #253858;
  margin-left: 17px;
}

.project_name {
  font-size: 36px;
  font-weight: 700;
  color: #172b4d;
  margin: 4px 0;
  width: 92%;
}

.first_list {
  display: flex;
  color: #7a869a;
  margin-left: -12px;
}

.first_list li {
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  margin-left: 12px;
  margin-right: 15px;
}

.blackcolor {
  color: #344563;
}

.tech_list li {
  padding: 4px 12px;
  background-color: #ebebff;
  border-radius: 8px;
  margin: -9px 1px;
  list-style: none;
  display: inline-flex;
  color: #396df2;
}

.btn1 {
  background: none;
  border: 1px solid #396df2;
  border-radius: 16px;
  padding: 16px;
  margin: 10px 0;
  color: #396df2;
}

.btn2 {
  width: 135px;
  background: none;
  border: 1px solid #396df2;
  border-radius: 16px;
  padding: 16px;
  margin: 20px 0;
  color: #396df2;
}

.firsth1 {
  height: 75px;
  font-size: 34px;
}

