html {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  margin-bottom: 0;
}

body {
  display: block;
  margin: 0;
}

main {
  display: grid;
}

.font {
  font-family: 'Poppins', sans-serif;
  margin: 4px;
  margin-top: 0;
}

.first-section {
  display: grid;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  width: 100vw;
  margin-top: 61px;
}

.first-container {
  height: 100%;
  margin: 0;
}

.section1 {
  padding: 0 16px;
  background-image: url('./images/header-shapes-mobile.jpg');
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  
}

.header {
  display: flex;
  justify-content: space-between;
}

.my-logo {
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  margin: 16px;
  margin-top: -34px;
}

.hamburger {
  margin: 17px 20px;
  margin-top: -49px;
}

.hamburger:hover {
  color: rgb(239, 14, 14);
  cursor: pointer;
}

.first-para {
  font-style: normal;
  font-size: 40px;
  line-height: 52px;
  margin-top: 83px;
  color: #172b4d;
}

.third-para {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.ul-list {
  list-style-type: none;
}

.logo-icons {
  margin-left: 19px;
}

.logo_icons2 {
  padding: 2px 9;
  margin-left: 0;
}

.social_links {
  margin-left: -57px;
  display: inline-block;
}

.social_links2 > li {
  padding: 37px;
  list-style: none;
  display: inline-block;
  margin-left: -54px;
  margin-top: -28px;
}

.social_links > li {
  list-style: none;
  display: inline-block;
  margin-left: -3px;
}

.container1,
.container2,
.container3,
.container4 {
  margin-top: 115px;
  outline-style: round;
  background-color: rgb(248, 247, 246);
  height: 614px;
  width: 330;
  padding-left: 32px;
  padding-top: 16px;
  border-radius: 8px;
}

.container5 {
  margin-top: 115px;
  outline-style: round;
  padding-left: 32px;
  padding-top: 16px;
  border-radius: 8px;
}

.tonic {
  padding-bottom: 5%;
}

.dots {
  display: flex;
  gap: 5%;
  padding-left: 7px;
  padding-bottom: 25px;
  list-style: none;
  flex-direction: row;
}

.content-paragraph {
  padding-left: 7px;
  font-size: 18px;
  width: 79%;
  padding-bottom: 19px;
}

.list {
  display: flex;
  gap: 7%;
  padding-left: 3px;
  list-style: none;
  flex-direction: row;
}

.button,
.languages {
  border-radius: 5px;
  margin-top: 35px;
  margin-left: 4px;
  padding: 2%;
  background-color: rgb(200, 205, 244);
  margin-bottom: 57px;
}

.get_my_resume {
  border-radius: 5px;
  margin-top: -17px;
  margin-left: 4px;
  padding: 2%;
  background-color: rgb(200, 205, 244);
  margin-bottom: 54px;
}

.container5 > .third-para {
  margin-top: 20px;
  margin-left: 2px;
}

.languages {
  padding-left: 5px;
  padding-right: 10px;
  list-style-type: none;
  background-color: rgb(229, 235, 235);
  margin-top: 31px;
  margin-bottom: 41px;
}

.languages_logo {
  margin-left: 10px;
}

.frame {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-left: -17px;
}

.skills {
  list-style-type: none;
  margin-top: 9px;
  margin-bottom: 22px;
  margin-left: -38px;
}

ul {
  list-style-type: none;
}

.text {
  margin-top: 10px;
}
